<script src="{{'assets/js/material-kit/core/jquery.min.js' | relative_url }}"  type="text/javascript"></script>
<script src="{{'assets/js/material-kit/core/popper.min.js' | relative_url }}"  type="text/javascript"></script>
<script src="{{'assets/js/material-kit/core/bootstrap-material-design.min.js' | relative_url }}"  type="text/javascript"></script>
<script src="{{'assets/js/material-kit/plugins/moment.min.js' | relative_url }}" ></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{{'assets/js/material-kit/plugins/bootstrap-datetimepicker.js' | relative_url }}"  type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{'assets/js/material-kit/plugins/nouislider.min.js' | relative_url }}" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="{{'assets/js/material-kit/material-kit.js' | relative_url }}" type="text/javascript"></script>
