<div id="header_wrap" class="outer">
    <header class="inner">

      <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>


      <nav class="nav justify-content-center">
        <a class="nav-link col-sm" href="{{ '/' | relative_url }}" title="Regresar al Inicio">Inicio</a>
        <a class="nav-link col-sm" href="{{ '/calendario/' | relative_url }}" title="Ver Calendario de Eventos">Calendario</a>
        <a class="nav-link col-sm" href="{{ '/mapa/' | relative_url }}" title="Ver el mapa de locales">Mapa</a>
        <a class="nav-link col-sm" href="{{ '/acercade/' | relative_url }}" title="Aprender Mas">Acerca de</a>
      </nav>

    </header>
</div>
