---
---

//Modifications to HEADER
#header_wrap {
  background: #d1d1d1;
  color:#000000;
  text-align: center;
}

#project_title {
  color:#000000;
  text-shadow: none;
  padding-bottom:0.5em;
  line-height: 1.25em;
}

.nav a {
  padding: 0.25em 1em;
  margin:0.5em .75em;
  color: #fff;
  background-color: #000;
}

//Changes to Main Content
#main_content a {
  color: blue;
}

#wip {
  //background-color:#c9f;
  text-align:center;
  padding:.25em;
  margin-bottom:2em;
}

//Article Type Formatting
h3#library {
  //background-color:#ff0000;
  padding-left:1.75em;
  background-image:url('{{ '/assets/images/bookicon.png' | relative url }}');
  background-size: 1.35em;
  background-position: 0em 50%;
  background-repeat:no-repeat;
}

ul#tags li {
  display:inline;
  font-style:italic;
}

//Footer
footer {
  text-align: left;
}
