---
---

//Modifications to HEADER
#header_wrap {
  background: #d1d1d1;
  color:#000000;
  text-align: center;
}

#project_title {
  color:#000000;
  text-shadow: none;
  padding-bottom:0.5em;
  line-height: 1.25em;
}

.nav a {
  padding: 0.25em 1em;
  margin:0.5em .75em;
  color: #fff;
  background-color: #000;
}



#wip {
  //background-color:#c9f;
  text-align:center;
  padding:.25em;
  margin-bottom:2em;
}

//Article Type Formatting
h3.library.resource:before {
  content:'';
  background-image:url('{{ "/assets/images/libraryicon.png" | relative_url }}');
}

h3.college.resource:before {
  content:'';
  background-image:url('{{ "/assets/images/collegeicon.png" | relative_url }}');
}

h3.organization.resource:before {
  content:'';
  background-image:url('{{ "/assets/images/organizationicon.png" | relative_url }}');
  background-size: contain;
}

h3.resource:before {
  padding-left:1.75em;
  background-size: 1.35em;
  background-position: left center;
  background-repeat:no-repeat;
}


//Footer
footer {
  text-align: left;
}
