---
layout: default
---

{% assign pageurl = "test" %}

<h3 class="resource {{ page.category }}"><a href="{{ pageurl }}" target="blank">{{ page.title }}</a></h3>
<address>{{ page.location }}</address>
<a href="{{ page.website}}" target="blank">Visit their website</a>
<p>{{ page.content }}</p>
<p><i>Resource type: {{ page.category | upcase }}</i></p>


 <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ page.location | url_encode }}
           &zoom=13
           &size=600x300
           &maptype=roadmap
           &markers={{ page.location | url_encode }}
           &key=AIzaSyCi-yz2py5r6VlVoFjnenizfSv_1iPU3JE" />
